*.iws
*.ws
*.war
*.iml
*.iws
*.ipr
*Db.properties
*Db.script
*.class
.settings
.classpath
classpath
.project
.idea
.DS_Store
.link_to*
demo/prodDb.*
demo/eclipse
demo/stacktrace.log
demo/out
demo/target
demo/target-eclipse
demo/web-app/plugins
demo/web-app/WEB-INF/classes
demo/web-app/WEB-INF/tld/c.tld
demo/web-app/WEB-INF/tld/fmt.tld
